<h1>Create a new Category</h1>
<form method="POST" action="/categories/save">
    <input name="name" type="text" placeholder="category name" />
    <button type="submit">Add Category</button>
</form>
